/*
* LICENSE - style only: CC BY-NC-SA
* @link https://creativecommons.org/licenses/by-nc-sa/3.0/
* Graphics copyright of Vladimir Mijic
* 
* Title: VCStyle
* Author: Vladimir Mijic
* GitHub: https://github.com/vladocodes
* Instagram: @vlado.codes
* Twitter: @vladocodes
*/

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Raleway:wght@400..700&display=swap');

:root {
    --ff-body: 'Raleway', sans-serif;;
    --ff-heading: 'Orbitron', sans-serif;;

    --fw-normal: 400;
    --fw-bold: 700;

    --clr-primary-100: #6fd7ec;
    --clr-primary-200: #4e96b8;
    --clr-primary-300: #3a7094;
    --clr-primary-400: #293b63;
    --clr-primary-500: #14213d;

    --clr-accent: #a3a3a3;
    --clr-orange: #fda312;

    --clr-neon-orange: 37, 98%, 53%;
    --clr-dark-gray: 0, 0%, 64%;

    --clr-light: #FFFFFF;
    --clr-dark: #000000;

    --clr-gradient: linear-gradient( 
        var(--clr-primary-300), 
        var(--clr-primary-500)
    );

    --border: hsl(var(--clr-dark-gray)), hsl(var(--clr-neon-orange)), hsl(var(--clr-dark-gray));
}


/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  font-size: 1.25rem;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Natural flow and rhythm in articles by default */
section > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::selection {
    color: var(--clr-dark);
    background: var(--clr-orange);
}
:focus {
    outline: 2px solid var(--clr-accent);
    outline-offset: 2px;
}
::-webkit-scrollbar {
    background: var(--clr-primary-500);
}
::-webkit-scrollbar-thumb {
    background: var(--clr-primary-300);
    border-radius: 100vw;
}

/* global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
    scrollbar-color: var(--clr-primary-300) var(--clr-primary-500);
    font-size: 1.25rem;
    font-size: clamp(1rem, 5vw, 1rem);
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
    overflow-x: hidden; 
}

body {
    background-color: var(--clr-primary-500);
    color: var(--clr-accent);
    margin: 0;
    font-family: var(--ff-body);
    line-height: 1.6;
}
section {
    margin-bottom: 2em;
}

.container {
    padding: 1rem;
    max-width: 75ch;
    margin-left: auto;
    margin-right: auto;
}

/* skip link */
.skip-link:not(:focus) {
    margin-left: auto;
    margin-right: auto;
    animation: skip-link-intro 3.3s forwards ease-in;
    text-decoration: none;
    font-size: 0.8em;
}

/* header */
header {
    text-align: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    color: var(--clr-primary-100);
    background-image: var(--clr-gradient);
    animation: intro 1.5s;
}
header > .container > * + * {
    margin-top: 2rem;
}
header .container h1 {
    transform: translate(100vw, 0);
    animation: 1s header-intro 1.5s forwards ease-in;
    width: min-content;
}
header .container *:not(h1) {
    transform: translate(0, 100vh);
    animation: other-intro 3.3s forwards ease-in;
}
header .container a {
    color: var(--clr-light);
    animation-delay: .5s;
}
@media (min-width: 900px) {
    header .container h1 {
        width: max-content;
    }
}

/* headings */
h1, 
h2, 
h3 {
    font-family: var(--ff-heading);
}
h1 {
    color: var(--clr-primary-400);
    font-size: clamp(5rem, 20vw, 8rem);
    text-transform: uppercase;
    line-height: 0.9;
    width: 100vw;
    margin: 1rem calc(-50vw + 50%);
    text-align: center;
    position: relative;
    text-shadow: 0 0.05em 0.2em rgba(111, 215, 236, 0.9);
}
h1::after {
    content: "";
    display: block;
    height: 5px;
    background: var(--clr-orange);
    width: 40%;
    margin: 2rem auto;
    opacity: 0.8;
}
h1 + h2 {
    font-size: clamp(2rem, 20vw, 2.5rem);
    line-height: 1;
    color: var(--clr-orange);
}
article h2 {
    font-size: 1.5rem;
    line-height: 1;
    background-color: var(--clr-primary-400);
    color: var(--clr-orange);
    align-self: start;
    padding: 0.5em;
    border-radius: 0.25em;
}
article:last-of-type h3 {
    color: var(--clr-light);
}
h2:not(.aside h2) {
    font-weight: 400;
    text-shadow: 0 0.05em 0.2em rgba(252, 190, 17, 0.8);
    animation: font 2.5s alternate infinite; 
}
@media (min-width: 37em) {
    article > .container {
        display: grid;
        column-gap: 1em;
        grid-template-columns: 1fr 5fr;
    }
    article h2 {
        grid-column: 1 / 2;
        position: sticky;
        top: 7em;
        font-size: 1rem;
    }
    article *:not(h2) {
        grid-column: 2 / 3;
    }
    article p:first-of-type {
        margin: 0;
    }
}

/* navigation */
nav {
    --border: 0.3em;
    background: var(--clr-primary-500);
    padding: 1em;
    margin: 0 0 2em 0;
    border-top: 0.3em solid var(--clr-orange);
    border-bottom: 0.3em solid var(--clr-orange);
}
@media (min-width: 37em) {
    nav {
      position: sticky;
      z-index: 100;
      top: calc(var(--border) * -1);
    }
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
nav ul a {
    display: inline-grid;
    padding: 0.5em;
    color: var(--clr-light) !important;
    text-decoration: none;
}
nav ul a::after {
    width: 50%;
    height: 0.25em;
    background-color: var(--clr-light);
    opacity: 0.1;
    content: "";
    margin: 0 auto;
    transition: width 1.5s;
}
nav ul a:hover::after, nav ul a:focus::after {
    opacity: 1;
    width: 100%;
}

/* links */
a:not(.link-github):not(.sponsor-button) {
    color: var(--clr-primary-200);
    font-weight: var(--fw-bold);
    white-space: nowrap;
    text-decoration-color: var(--clr-orange);
    text-decoration-style: double;
    text-underline-offset: 0.25em;
    transition: all 200ms;
}
a:not(.sponsor-button):hover,
a:not(.sponsor-button):hover,
a:not(.sponsor-button):focus {
  color: var(--clr-orange);
  text-decoration-color:  var(--clr-primary-200);
}
.link-github {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    background: var(--clr-primary-200);
    color: var(--clr-light);
    padding: .5em 1.25em;
    border: 5px solid var(--clr-primary-200);
    border-radius: 0.3em;
}
.link-github span {
    width: 1em;
    display: flex;
}
.link-github svg {
    width: 1em;
    fill: var(--clr-light);
    transition: fill 350ms, transform 1s ease-out;
}
a.link-github:hover,
a.link-github:focus {
    background: transparent;
    color: var(--clr-primary-200);
}
a.link-github:hover svg {       
    fill: var(--clr-primary-200);
    transform: rotate(360deg); 
}
/* main */
#about ul {
    --gap: 0.25em;
    list-style: none;
    margin: 0;
    padding: 0;
    columns: 7em 4;
    gap: var(--gap);
}
#about li {
    align-self: start;
    font-size: 1rem;
    padding: 0.25em;
    border: 1px solid var(--clr-orange);
    margin-bottom: var(--gap);
    border-radius: 0.2em;
    break-inside: avoid;
}
#about section:nth-of-type(2) p:nth-of-type(2) {
    font-weight: var(--fw-bold);
    color: var(--clr-primary-500);
} 

/* page and sponsor footer */
.page-footer .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 1.5rem;
    font-size: 1rem;
}
.page-footer {
    background: var(--clr-primary-400);
    color: var(--clr-light);
}
.page-footer ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}
.page-footer ul li {
    flex: 1;
    margin: 5px;
    text-align: center;
}
.page-footer ul li a {
    text-decoration: none;
    display: inline-flex;
    font-weight: bold;
    white-space: nowrap;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
    color: var(--clr-light) !important;
    background: var(--clr-primary-200);
    padding: .5em 1.25em;
    border: 5px solid var(--clr-primary-200);
    border-radius: 0.3em;
}
.page-footer ul li a:hover {
    background: transparent;
    color: var(--clr-primary-200);
}
#sponsor-footer {
    width: 100%;
    max-width: 100%;
    background: var(--clr-primary-500);
    color: var(--clr-light);
    padding: 1.5em;
}
#sponsor-footer p {
    max-width: 70ch;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    font-size: 1rem;
    color: var(--clr-orange);
}
#sponsor-footer .sponsor-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    padding: 0.5rem;
    margin-left: 15px;
    color: var(--clr-dark);
    background-color: var(--clr-light);
    border: 4px solid var(--clr-orange);
    border-radius: 5px;
    transition: 180ms all ease-in-out; 
}
#sponsor-footer .sponsor-button:hover{
    color: var(--clr-orange);
    -webkit-filter: drop-shadow(0 0 0.2rem hsla(var(--clr-neon-orange), 0.4))
      drop-shadow(0.5rem 0.5rem 0.2rem hsla(var(--clr-neon-orange), 0.6))
      drop-shadow(-0.5rem 0.5rem 0.2rem hsla(var(--clr-neon-orange), 0.6))
      drop-shadow(0.5rem -0.5rem 0.2rem hsla(var(--clr-neon-orange), 0.6))
      drop-shadow(-0.5rem -0.5rem 0.2rem hsla(var(--clr-neon-orange), 0.6));
      
    filter: drop-shadow(0 0 0.2rem hsla(var(--clr-neon-orange), 0.4))
      drop-shadow(0.5rem 0.5rem 0.2rem hsla(var(--clr-neon-orange), 0.6))
      drop-shadow(-0.5rem 0.5rem 0.2rem hsla(var(--clr-neon-orange), 0.6))
      drop-shadow(0.5rem -0.5rem 0.2rem hsla(var(--clr-neon-orange), 0.6))
      drop-shadow(-0.5rem -0.5rem 0.2rem hsla(var(--clr-neon-orange), 0.6));
}
@media (max-width: 60ch) {
    body {
        font-size: 1rem;
    }
	#sponsor-footer p {
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media (min-width: 60em) {
    body {
        display: grid;
        grid-template-columns: minmax(14rem, max-content) 14rem minmax(0.5em, 1fr);
        column-gap: 1em;
        grid-template-areas: 
        "skip-link skip-link skip-link"
        "header header header"
        "nav nav nav"
        "main aside-one ."
        "main aside-two ."
        "main . ."
        "footer footer footer"
        "aside-three aside-three aside-three";
    }
    .skip-link {
        grid-area: skip-link;
    }
    header {
        grid-area: header;
    }
    nav {
        grid-area: nav;
    }
    main {
        grid-area: main;
    }
    .profile {
        grid-area: aside-one;
    }
    #styles {
        grid-area: aside-two;
    }
    footer {
        grid-area: footer;
    }
    #sponsor-footer {
        grid-area: aside-three;
    }
}

#files .container,
.profile .container,
#styles .container {
    padding: 0;
}
#files,
.profile,
#styles {
    font-family: var(--ff-body);
    max-width: max-content;
    margin: 0 auto;
    padding: 1em;
    background: var(--clr-primary-400);
    transition: 350ms ease-in;
}
#files {
    color: var(--clr-light);
    background: var(--clr-primary-400);
    text-align: center;
    padding: 1.5em;
    border: .5em solid var(--clr-orange);
    border-image: linear-gradient(45deg, var(--border)) 1% stretch;
}
.profile {
    transform: rotate(-10deg);
    box-shadow: 0 0em 2em var(--clr-primary-100);
    margin-bottom: 3em;
}
.profile ul {
    list-style: none;
    padding: 0;
}
.profile > .container > a {
    text-decoration: none;
    padding: 0.3em;
    background-color: var(--clr-primary-500);
    border-radius: 15px;
}
#styles {
    transform: rotate(5deg);
    margin-bottom: 3em;
    border-image: linear-gradient(45deg, var(--border)) 1% stretch;
}
.profile h4,
#styles h2 {
    font-size: 1em;
    font-family: var(--ff-heading);
}
.profile:hover,
#styles:hover {
    color: var(--clr-light);
    border: none;
}
.profile:hover {
    box-shadow: 0 0em 6em var(--clr-primary-100);
    transform: rotate(0deg);
}
#files:hover,
#styles:hover {
    filter: drop-shadow(0 0 0.2rem hsla(var(--clr-neon-orange), 0.4))
      drop-shadow(0.5rem 0.5rem 0.2rem hsla(var(--clr-neon-orange), 0.6))
      drop-shadow(-0.5rem 0.5rem 0.2rem hsla(var(--clr-neon-orange), 0.6))
      drop-shadow(0.5rem -0.5rem 0.2rem hsla(var(--clr-neon-orange), 0.6))
      drop-shadow(-0.5rem -0.5rem 0.2rem hsla(var(--clr-neon-orange), 0.6));
}
@media (min-width: 60em) {
    .profile, #styles {
        margin: 3em -1em 0;
    }
    #files {
        margin: 0 0 3em 10em;
        transform: rotate(0deg);
    }
}

/* animations */
@keyframes intro {
    0% { 
        clip-path: polygon(0 0, 50% 0, 100% 0, 100% 50%, 100% 100%, 50% 100%, 0 100%, 0 50%); 
    }
    100% { 
        clip-path:  polygon(50% 50%, 50% 25%, 50% 50%, 75% 50%, 50% 50%, 50% 75%, 50% 50%, 25% 50%);
    }
} 
@keyframes header-intro {
    0% {
        transform: translate(100vw, 0);
    }
    100% {
        transform: translate(-50%, 0);
        margin-left: 50%;
    }
}
@keyframes other-intro {
    0% {
        transform: translate(0, 100vh);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes skip-link-intro{
    0% {
        transform: translate(100vh, 0vw);
    }
    100% {
        transform: translate(0, 0);
    }
}
@keyframes font {
    0%{font-weight: 400;}
    25%{font-weight: 450;}
    50%{font-weight: 500;}
    75%{font-weight: 550;}
    100%{font-weight: 600;}
}